.presentacion {
  position: relative;
  text-align: center;
  margin-top: 10px;
  width: 210px;
  height: 229px;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

.presentacion {
  animation: show 2s;
}

@keyframes show {
  0% { opacity: 0; transform: scale(0); }
  100% { opacity: 1; }
}

.score {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 35px;
  display: grid;
  place-content: center;
  background-color: #fff8;
  border-radius: 0 20px 0 10px;
}

.nameContainer {
  position: absolute;
  bottom: 0;
  width: calc(100% - 1px);
  margin: 0 auto;
  border: 1px solid #fff;
  background-color: #aaa9;
  border-radius: 0 0 20px 20px;
}

.nombre {
  min-height: 20px;
  max-height: 20px;
  margin: 0;
  padding: 15px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}

.nombre {
  animation: molestos 2s;
}

.boton,
.fav {
  height: 30px;
  width: 30px;
  margin: 5px;
  font-size: 20px;
}

.boton {
  position: absolute;
  right: 0;
  background-color: rgb(200, 0, 0);
  border-radius: 10px;
}

.fav {
  position: absolute;
  left: 0;
  background-color: #000;
  border: none;
}

.boton,
.fav {
  animation: molestos 2s;
}

.boton:hover {
  background-color: rgb(225, 0, 0);
}

.fav:hover {
  transform: scale(1.5);
}

.propiedades {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
}

.propiedades h4 {
  margin: 10px 0;
}
.propiedades h5 {
  margin: 0;
}

.presentacion::before {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  background: linear-gradient(0deg,#000 0%,#0005 100%);
  opacity: 0;
  border-radius: 20px;
  transition: all 0.9s ease;
}

.presentacion:hover::before {
  opacity: 1;
}

.presentacion:hover .nombre {
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}

.presentacion:hover .propiedades {
  color: white;
  transform: translateY(0%);
  opacity: 1;
  visibility: visible;
  transition: all 0.7s ease;
}

.link {
  text-decoration: none;
  color: #fff;
}