body {
  margin: 0;
  background-color: grey;
  min-width: 630px;
  min-height: 100vh;
}

* {
  font-family: 'Courier New', Courier, monospace;
}

::-webkit-scrollbar {
  width: 5px;
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #fff5;
  border-radius: 20px
}

::-webkit-scrollbar-track {
  background: #000;
  z-index: 0;
}